<div id="num-pad">
	<div class="num-key">1</div>
	<div class="num-key">2</div>
	<div class="num-key">3</div>
	<div class="num-key">4</div>
	<div class="num-key">5</div>
	<div class="num-key">6</div>
	<div class="num-key">7</div>
	<div class="num-key">8</div>
	<div class="num-key">9</div>
	<div class="num-key">0</div>
</div>
<div id="num-side">
	<div id="append-score">{{appendScore}}</div>
	<div id="confirm-button">Ok</div>
</div>

