<div class="score-key">5</div>
<div class="score-key">10</div>
<div class="score-key">15</div>
<div class="score-key">20</div>
<div class="score-key">25</div>
<div class="score-key">30</div>
<div id="custom" class="score-key">*</div>