<div class="row">
<div id="player-columns">
	{{> playerColumns}}
</div>
<div id="score-limit">{{limit}}</div>
</div>
<div class="bot">
<div id="score-keys-toggle">
	{{> scoreKeys}}
</div>
<div id="player-selector-refresh" class="row">
	{{> playerSelector}}
</div>
<div id="keypad-toggle">
	{{> keypad}}
</div>
</div>
