<div class="row">
	<div id="config-score">
		Score limit:<br>
		{{limit}}
	</div>
</div>
<div id="player-toggler-refresh" class="row">
	{{> playerToggler}}
</div>
<div id="keypad-toggle">
	{{> keypad}}
</div>
<p id="info">Click on score limit to edit the score, then ok to start!</p>